@model FigurasModels
@{
    Layout = "_Layout";
}

<link href="~/css/HerenciaPOO.css" rel="stylesheet" />

<section class="HerenciaPOO">

    <section class="section">
        <div class="container my-5">
            <div class="p-5 text-center bg-body-tertiary rounded-3">
                <h1 class="text-body-emphasis">
                    Taller: Aplicación herencia y polimorfismo
                </h1>
                <p class="col-lg-8 mx-auto fs-5 text-muted">
                    Esta tarea tiene como propósito que usted comprenda el uso de la herencia y polimorfismo en la creación de clases con el objetivo de crear programas modulares y reutilizables mediante la solución de un caso práctico.
                </p>
                <a asp-action="App" class="btn btn-outline-dark">Dar clic aqui.</a>
                <div class="video">
                    <div style="position: relative; width: 100%; height: 0; padding-top: 56.2500%;
 padding-bottom: 0; box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); margin-top: 1.6em; margin-bottom: 0.9em; overflow: hidden;
 border-radius: 8px; will-change: transform;">
                        <iframe loading="lazy" style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; border: none; padding: 0;margin: 0;"
                                src="https://www.canva.com/design/DAGU52BBzyc/6EQdy079gh1daM7Pjy19kw/watch?embed" allowfullscreen="allowfullscreen" allow="fullscreen">
                        </iframe>
                    </div>
                    <a href="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAGU52BBzyc&#x2F;6EQdy079gh1daM7Pjy19kw&#x2F;watch?utm_content=DAGU52BBzyc&amp;utm_campaign=designshare&amp;utm_medium=embeds&amp;utm_source=link" target="_blank" rel="noopener">Diseño</a> de JHON DEYBY PIEDRAHITA HIGUITA
                </div>
            </div>
        </div>
    </section>
</section>



