<div class="d-flex flex-column flex-shrink-0 bg-body-tertiary" style="width: 4.5rem;">
    <a asp-controller="HerenciaPOO" asp-action="Index" class="nav-link py-3 border-bottom rounded-0" aria-current="page" title="Home" data-bs-toggle="tooltip" data-bs-placement="right">
        <i class="material-icons">home</i>
    </a>
    <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
        <li class="nav-item">
            <a asp-controller="HerenciaPOO" asp-action="Circulo"  class="nav-link py-3 border-bottom rounded-0" aria-current="page" title="Home" data-bs-toggle="tooltip" data-bs-placement="right">
                <i class="material-icons">circle</i>
            </a>
        </li>
        <li class="nav-item">
            <a asp-controller="HerenciaPOO" asp-action="Rectangulo" class="nav-link py-3 border-bottom rounded-0" aria-current="page" title="Cuadrado" data-bs-toggle="tooltip" data-bs-placement="right">
                <i class="material-icons">square</i>
            </a>
        </li>

        <li class="nav-item">
            <a asp-controller="HerenciaPOO" asp-action="Triangulo" class="nav-link py-3 border-bottom rounded-0" aria-current="page" title="Home" data-bs-toggle="tooltip" data-bs-placement="right">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#0d6efd"><path d="m80-160 400-640 400 640H80Z" /></svg>
            </a>
        </li>
    </ul>
</div>