@model FigurasModels
@{
    Layout = "_Layout";
}



<link href="~/css/HerenciaPOO.css" rel="stylesheet" />

<section class="HerenciaPOO">
    @Html.Partial("MenuFigura")

    <section class="section">
        <div class="container my-5">
            <div class="p-5 text-center bg-body-tertiary rounded-3">
                <h1 class="text-body-emphasis">
                    Tarea: La Herencia en POO
                </h1>
                <p class="col-lg-8 mx-auto fs-5 text-muted">
                    Elaborar un proyecto de software en un IDE de su elección que permita crear diferentes figuras geométricas.
                </p>
                <div class="video">
                    <div class="video-container">
                        <iframe width="560" height="315"
                                src="https://www.youtube.com/embed/dZyO2043G_4?list=PLTmv4o3ck_qY3POxSmziuIHM-RZVvCl6i"
                                title="YouTube video player"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen>
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>



